@import "../../../styles/style-guide-variables.scss";

.match-wrapper {
  box-shadow: inset 0 0 0 1px $color-divider;
  border-radius: $border-radius-medium;
  overflow: hidden;
  min-width: 17rem;

  .team-wrapper:first-child {
    border-bottom: $line-style-dashed;
  }
}