@import "../../../../styles/style-guide-variables.scss";

.match-wrapper {
  border: 1px solid $color-divider;
  border-radius: $border-radius-medium;
  overflow: hidden;

  .team-wrapper:first-child {
    border-bottom: 1px dashed $color-divider;
  }
}