// CSS reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// Global styles

@import "./style-guide-variables.scss";

body {
  background-color: $color-background-elevation;
  font-family: $font-stack;
}

h1 {
  @include text-style-h1;
}

h2 {
  @include text-style-h2;
}

h3 {
  @include text-style-h3;
}

h4 {
  @include text-style-h4;
}

h5 {
  @include text-style-h5;
}

h6 {
  @include text-style-h6;
}

// App styles

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-5;
    padding: $spacing-10;
    padding-top: $spacing-5;
    background-color: $color-background-paper;
    border: $line-style-solid;
    border-radius: $border-radius-extra-large;
    overflow: auto;
    
    h1 {
      color: $color-text-primary;
      text-align: center;
    }
  
    .tournament-wrapper {
      display: flex;
    }  
  }
}

@include media-query-for(mobile) {
  .App {
    display: block;
    background-color: $color-background-paper;
    height: 100%;

    .main-wrapper {
      padding: $spacing-2;
      padding-top: $spacing-4;
      background-color: transparent;
      border: none;
      border-radius: 0;
      gap: $spacing-4;
    }
  
    h1 {
      @include text-style-h2;
    }
  
    .tournament-wrapper {
      flex-direction: column;
      gap: $spacing-4;
      padding-bottom: $spacing-2; 
    }
  }
}


// Components styles - Sass Partials

@import "../components/round/match/team/team";
@import "../components/round/match/match";
@import "../components/round/bracket-lines/bracket-lines";
@import "../components/round/round";